<!DOCTYPE html>
<html>
<head>
  <title>Forget</title>
  <%= stylesheet_link_tag    "forget/application", media: "all" %>
  <%= javascript_include_tag "forget/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
